nav {
    background-color: #388CAB; 
    a {
        color: #e5e5e5; 
        padding: 30px 30px; 
    }
    h2 {
        color: #e5e5e5;
        font-size: 30px; 
        padding: 20px 50px; 
    }
}

.imageAndText{
    display: flex;
}

.allSetPage {
    background-color: #388CAB;
}

.imageAndText {
    display: flex;
}


text {
    display: flex; 
    h1 {
        padding-top: 80px;
        margin: 0; 
        font-size: 90px; 
        color: #E5e5e5;
    
    }
    h2 {
        padding: 0;
        margin: 0; 
        font-size: 60px; 
        color: #293C44;
    }
}


img {
    padding: 0; 
    margin: 0; 

}





