body, html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BCC4C7;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        color: #293C44;
        margin-left: 20px;
        margin-top: 18px;
        font-size: 25px;
        font-weight: lighter; 
    }
    h2 {
        color: #293C44;
        font-weight: 100;
        cursor: pointer;
        margin-right: 20px;
    }

}

@media only screen and (min-width: 650px) {
    body, html {
        height: 100%;
        overflow: hidden;
    }
}