body, html {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        cursor: pointer;
    }
}