body, html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #388CAB;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #293C44;

    a {
        color: #FFF;
        margin-left: 20px;
        margin-top: 18px;
        font-size: 25px;
        font-weight: lighter; 
        text-decoration: none;
    }
    h2 {
        color: #FFF;
        font-weight: 100;
        cursor: pointer;
        margin-right: 20px;
    }

}

@media only screen and (min-width: 700px) {
    body, html {
        height: 100%;
    }
}